@import "tailwindcss";
/* Move this to the top! */
@import url("https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;700&display=swap");

* {
  font-family: "Google Sans", sans-serif;
}

@media (max-width: 740px) {
  .active p {
    @apply text-white bg-blue-500;
  }
}
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}